@model IEnumerable<AssignmentTwo.Models.Flight>

@{
    ViewData["Title"] = "Scheduled Flights";
}

<h2>Scheduled Flights</h2>

<p>
    <a asp-action="Create">Create New Flight</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Departure)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Destination)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepartureDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FlightCapacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SeatsAvailable)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Departure.AirportLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Destination.AirportLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartureDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FlightCapacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SeatsAvailable)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FlightID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.FlightID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.FlightID">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
