@model AssignmentTwo.Models.Tours

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Tours</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TourName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TourName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TourTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TourTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TourPrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TourPrice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TicketsAvailable)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TicketsAvailable)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TicketsSold)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TicketsSold)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TourDuration)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TourDuration)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AdditionalInformation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AdditionalInformation)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
    <br />
    <a asp-area="" asp-controller="Tour" asp-action="Enquiry" asp-route-tourName="@Model.TourName" class="btn btn-default">Book Tour!</a>
    <a asp-area="" asp-controller="Tour" asp-action="ViewEnquiries" class="btn btn-default">View Existing Enquiries</a>
</div>
