@model AssignmentTwo.Models.Contact.TourEnquiry
@{
    ViewData["Title"] = "Enquire!";
    ViewData["Message"] = "Enquire!";
}
<h2>@ViewData["Title"]</h2>

@using (Html.BeginForm("Enquiry", "Tour", FormMethod.Post))
{
    @Html.ValidationSummary(true);
    
    @Html.LabelFor(m => m.TourName)
    <br />
    @Html.EditorFor(m => m.TourName)
    <br />
    <br />
    @Html.Label("Name")
    <br />
    @Html.TextBoxFor(m => m.Name, new { style = "width:300px" })
    <br />
    <br />
    @Html.Label("Email Address")
    <br />
    @Html.TextBoxFor(m => m.Email, new { style = "width:300px" })
    <br />
    <br />
    @Html.Label("Message")
    <br />
    @Html.TextAreaFor(m => m.Message, new { style = "width:300px; height:125px; max-width:50%; maxlength='200'" })
    <br />
    <input type="submit" value="Submit" />
}

<a asp-area="" asp-controller="Tour" asp-action="ViewEnquiries" class="btn btn-default">View Existing Enquiries</a>
