@model IEnumerable<AssignmentTwo.Models.Bookings>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Make a new Booking</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PrimaryFlight.Departure)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrimaryFlight.Destination)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrimaryFlight.Destination)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PassengersName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdditionalLuggage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Passengers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TicketClass)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReturnTrip)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PassportNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PrimaryFlight.Departure.AirportLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrimaryFlight.Destination.AirportLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrimaryFlight.DepartureDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PassengersName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdditionalLuggage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Passengers)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TicketClass.TicketClassType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReturnTrip)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PassportNumber)
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.BookingID">Cancel Flight</a>
            </td>
        </tr>
}
    </tbody>
</table>
